    <!-- HEAD -->
    <%- include('../components/head.ejs') %>
    <!-- HEAD -->

    <body>

    	<!-- NAV -->
    	<%- include('../components/nav.ejs') %>
    	<!-- NAV -->

    	<!-- Photos Grid-->

    	<div class="container">
    		<div class="row">
    			<div class="col-md-4 col-md-offset-4">
    				<div class="panel panel-default">
    					<div class="panel-heading">
    						<h3 class="panel-title">Vincular Imagem em um Galeria</h3>
    					</div>
    					<div class="panel-body">
    						<form action="/image/linkGallery/<%= imageId %>" accept-charset="UTF-8" method="POST">
    							<fieldset>
    								<div class="form-group">
										<label>Titulo da Imagem: </label>
    									<h3><%= image[0].title %></h3>
    								</div>
    								<div class="form-group">
    									<label for="galleryId" class="mt-2">Galerias:</label><br>
										<% if(gallerys.length > 0) { %>
    										<% for (let i = 0; i < gallerys.length; i++) { %>
												<input type="radio" id="galleryId" name="galleryId"
													value="<%= gallerys[i].id %>">
												<label for="galleryId"><%= gallerys[i].identification %></label><br>
    										<% } %>
											<div class="form-group">
												<input class="btn btn-lg btn-success btn-block" type="submit" value="Vincular">
											</div>
    									<% } else { %>
											<div class="form-group">
												<input class="btn btn-lg btn-success btn-block" onclick="location.href='/addGallery'"
													value="Adicionar Galeria">
											</div>
										<% } %>
    								</div>
    								
    								<input type="hidden" id="imageId" name="imageId" value="<%= imageId %>">
    							</fieldset>
    						</form>
    						<div class="form-group">
    							<input class="btn btn-lg btn-success btn-block" onclick="location.href='/profile'"
    								value="Voltar">
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>

    	<!-- Photos Grid-->

    	<!-- Footer -->
    	<%- include('../components/footer.ejs') %>
    	<!-- Footer -->

    	</div>

    </body>

    </html>